Options -Indexes
Options +FollowSymlinks
Options -MultiViews

RewriteEngine On
rewriteBase /
ErrorDocument 404 /404
ErrorDocument 500 /500
RewriteRule ^track$                                                                   /tracking.php [L]
RewriteRule ^conv$                                                                   /conv.php [L]
RewriteRule ^cookiematch$                                                                   /cookieMatch.php [L]
RewriteRule ^cookiematchdemo$								/cookieMatchDemo.php [L]
