Options -Indexes
Options +FollowSymlinks
Options -MultiViews

RewriteEngine On
rewriteBase /
ErrorDocument 404 /404
ErrorDocument 500 /500
RewriteRule ^300$                                                                   /300x250.php [L]
RewriteRule ^728$                                                                   /728x90.php [L]
RewriteRule ^320$                                                                   /mobile.php [L]
